.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.email-list {
  text-align: left;
  border-style: solid;
  position: absolute;
  width: 25%;
}

.email-reader {
  text-align: left;
  padding: 10px;
  left: 25%;
  height: 100%;
  width: 75%;
  border-style: solid;
  position: absolute;
}

.email-selected {
  background-color: #d3d3d3;
  border-style: solid;
  padding: 10px;
}

.email-notselected {
  border-style: solid;
  padding: 10px;
}
