/* Grand-theft-Democracy.css CSS File */
div {
  box-sizing:border-box;
}

canvas {
  border: 1px solid black;
  box-shadow: 5px 5px 5px gray;
}

#button {

}

.button {
  position: absolute;
  border: auto;
  background-color: inherit;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
