.echo{
	z-index: 100;
	width: 40%;
	border-style:solid;
	text-align:center;
	background-color:white;
}
.echo-contents{
	margin: 10px;
	display: inline-block;
}
.echo-list{
	text-align:left;
	position: absolute;
	left: 30%;
	width: 100%;
	top: 20%;
}
.echo-head{
	z-index: 0;
	color: blue;
	position: absolute;
	font-size: 30pt;
	top: 3%;
	left: 46.5%;
}
.dolphin{
	position: absolute;
	left: 46.5%;
	top: 5%;
}
body{
	overflow-x:hidden;
	background-color:lightgrey;
}
