#region-1 {
  fill: blue;
}

#region-2 {
  fill: red;
}

#region-3 {
  fill: yellow;
}

#region-4 {
  fill: purple;
}

#region-5 {
  fill: green;
}

#region-6 {
  fill: orange;
}

#region-7 {
  fill: pink;
}

#region-8 {
  fill: brown;
}
