.map-app svg > g > path {
	stroke: black;
}

.map-app svg > g > path:hover {
	fill: gold !important;
}

.region-map svg > g > path {
  fill: red;
  stroke: black;
}

.region-map svg > g > path:hover {
  fill: gold;
}
